<div class='container'>
  <article id="<%= @question.id %>">

    <form class="vote-form" action="/questions/<%= @question.id %>/voteup" method="post">
      <button class="button up" type="submit" name="submit_param" value="submit_value">Upvote</button>
    </form>
    <span class="vote-form"><%= @question.total_votes %></span>
    <form class="vote-form" action="/questions/<%= @question.id %>/votedown" method="post">
    <button class="button down" type="submit" name="submit_param" value="submit_value">Downvote</button>
    </form>

    <div class="question">
      <h3><%= @question.title %></h3>
      <p>by: <%= @question.author.username %> at: <%= @question.created_at.strftime("%b %d 20%y") %></p>
      <!-- <% if current_user %>
        <% if @question.author.id == current_user.id %>
          <form action='/questions/<%=@question.id%>/edit' method='post'>
            <input type='hidden' name='_method' value='edit'/>
            <button type='submit'>Edit</button>
          </form>
          <form action='/questions/<%=@question.id%>' method='post'>
            <input type='hidden' name='_method' value='delete'/>
            <button type='submit'>Delete</button>
          </form>
        <% end %>
      <% end %> -->
      <%= @question.body %>
    </div>
  </article>
</div>

<div class='container'>


<% if @question.comments %>

  <ul>
    <% @question.comments.each do |comment| %>
    <%= comment.body %><%= comment.author %>
    <% end %>
    <div><a href='/questions/<%= @question.id %>/comments/new'>Add comment:</a></div>
  </ul>

<% end%>

<% if current_user %>
  <h3>Add answer:</h3>
  <form action='/questions/<%= @question.id %>/answers' method='post'>
    <input type='text' name='answer[body]'>
    <input type='text' name='tag[name]'>
    <button type='submit'>Add answer!</button>
  </form>
<% end %>

<h3>Answers:</h3>
<% if @answer %>
  <ul>
    <% @question.answers.each do |answer| %>



      <form class="vote-form" action="/answers/<%= answer.id %>/voteup" method="post">
        <button class="button" type="submit" name="submit_param" value="submit_value">VoteUp</button>
      </form>
      <span class="vote-form"><%= answer.total_votes %></span>
      <form class="vote-form" action="/answers/<%= answer.id %>/votedown" method="post">
        <button class="button" type="submit" name="submit_param" value="submit_value">DownVote</button>

      </form>
      <div class="question">
      <li class="answer"><%= answer.body %></li>

    <% if current_user == @question.author && !@question.has_best_answer? %>
      <% if @errors %>
        <%= @errors %>
      <% end %>
      <form class='best_answer_form' action='/answers/<%=answer.id %>' method='post'>
        <input type='hidden' name='_method' value='put'/>
        <input type='submit' value='Best answer'>
      </form>
    <% end %>
    <div class=''>
      <% if answer.best_answer %>
        <%= erb :'/questions/_best_answer' %>
      <%end%>
    </div>

    <div><a href='/answers/<%= @answer.id %>/comments/new'>Add comment:</a></div>


    <% if answer.comments %>
      <ul>
        <% answer.comments.each do |comment| %>
        <%= comment.body %><%= comment.author %>
        <% end %>
      </ul>
      <% end%>
    <% end %>
  </ul>
<% end %>
</div>
